body {
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: auto;

  background-color: #1b1b1b;
  background-position: center center;
  margin: 0 auto;
  background-attachment: local;
  background-position: center;
}

p,
h1,
h6 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 85px;
  letter-spacing: 4px;

  margin-top: 20px;
}
a.btn {
  background-color: ivory;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 17px;
  border-radius: 50px;
  padding: 18px 40px;
}
.about h1 {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: bold;
  text-align: start;
}
.textbox {
  max-width: 560;
  min-height: 639;
  margin-right: 75px;
  padding-left: 40px;
}

h6 {
  font-style: normal;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
}
@media (max-width: 770px) {
  .textbox h1 {
    font-size: 30px;
  }
  .textbox {
    min-width: 300px;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  a.btn {
    font-size: 12px;
    padding: 9px 20px;
  }
  h6 {
    font-size: 12px;
  }
}

p {
  font-size: 24px;
  font-weight: bold;
  padding-top: 2px;
  line-height: 29px;
  letter-spacing: 3px;
  text-align: center;
  padding-bottom: 10px;
}
.text {
  padding-top: 20px;
  text-align: center;
}

.white-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 300px;
}

.collapse {
  justify-content: flex-end;
  margin-right: 140px;
}
.navbar-toggler-icon {
  color: white;
  border-color: white;
  background-color: white;
}
div.hero {
  margin-top: 240px;
  margin-bottom: 100px;
}

.car {
  max-width: 386px;
  max-height: 280px;
}
.room {
  max-width: 386px;
  max-height: 280px;
  margin: 0 40px;
}
.rocks {
  max-width: 300px;
  max-height: 280px;
}
.picture-container {
  display: flex;
  justify-content: center;
  margin-left: 0;
}
.picture-container img {
  margin: 20px;
}
.man {
  max-width: 300px;
  max-height: 280px;
}

.lake {
  max-width: 300px;
  max-height: 280px;
  margin: 0 40px;
}

.stairs {
  max-width: 472px;
  max-height: 280px;
}
.steve {
  max-width: 356px;
  max-height: 280px;
}

.street {
  max-width: 359px;
  max-height: 280px;
}

.city {
  max-width: 369px;
  max-height: 280px;
}
.woman {
  max-width: 386px;
  max-height: 280px;
}

.eifel {
  max-width: 386px;
  max-height: 280px;
}

.archi {
  max-width: 300px;
  max-height: 280px;
}
.about h6 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #f65282;
  text-align: start;
  margin-top: 40px;
}

.about p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 30px;
}
.icons .fab {
  display: flex;
  justify-content: left;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.camera {
  border: 1px solid #2d2727;
  border-radius: 4px;
  margin-right: 100px;
  padding-top: 20px;
  padding: 20px;
  padding-bottom: 20px;
  background-color: #2d2727;
}
.cameratext {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 30px;
}
.contactbtn {
  border-radius: 25px;
  border: white;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #272142;
}
.upperpart {
  margin-bottom: 60px;
}

.gallery h1 {
  font-family: "Roboto", sans-serif;
  font-size: 72px;
  font-weight: bold;
  color: white;
  margin-top: 32px;
  line-height: 84px;
  margin-bottom: 166px;
}
